<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
     <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
       <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
         <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../vertical-menu-template-semi-dark/dashboard-analytics.html">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="#">Cadastros</a>
          </li>
          <li class="breadcrumb-item active"><a href="#">Amostras</a>
          </li>
         </ol>
        </div>
       </div>
       <h3 class="content-header-title mb-0">Cadastro de Amostras</h3>
      </div>
     </div>
     <div class="content-body">
      <!-- Basic form layout section start -->
      <section id="horizontal-form-layouts">
       <div class="row">
        <div class="col-lg-12">
         <div class="card">
          <div class="card-header">
           <h4 class="card-title" id="horz-layout-icons">Amostra</h4>
           <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>          
          </div>
          <div class="card-content collpase show">
           <div class="card-body">
            <form class="form form-horizontal">
             <div class="form-body">
              <div class="form-group row">
               <label class="label-control" for="timesheetinput1">Nome</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput1" class="form-control" placeholder="Local da Coleta" name="coleta">
                 <div class="form-control-position">
                  <i class="ft-user"></i>
                 </div>
                </div>
               </div>
              </div>
              <div class="form-group row">
               <label class="label-control" for="timesheetinput2">Cliente</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput2" class="form-control" placeholder="Nome Cliente" name="client">
                 <div class="form-control-position">
                  <i class="fa fa-briefcase"></i>
                 </div>
                </div>
               </div>
              </div>
 
              <div class="form-group row">
               <label class="label-control" for="timesheetinput2">Local da Coleta</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput2" class="form-control" placeholder="Ex: Rua do senac"
                  name="client">
                 <div class="form-control-position">
                  <i class="fa fa-briefcase"></i>
                 </div>
                </div>
               </div>             
              </div>
 
              <div class="form-group row">
               <label class="label-control" for="timesheetinput2">Número</label>
               <div class="col-md-4">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput2" class="form-control" placeholder="N°"
                  name="client">
                 <div class="form-control-position">
                  <i class="fa fa-briefcase"></i>
                 </div>
                </div>
               </div>  
 
               <label class="label-control" for="timesheetinput2">CEP</label>
               <div class="col-md-4">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput2" class="form-control" placeholder="Ex:"
                  name="client">
                 <div class="form-control-position">
                  <i class="fa fa-briefcase"></i>
                 </div>
                </div>
               </div>
              </div>
              <div class="form-group row">
               <label class="label-control" for="timesheetinput3">Complemento</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="text" id="timesheetinput3" class="form-control" name="complemento">
                 <div class="form-control-position">
                  <i class="ft-message-square"></i>
                 </div>
                </div>
               </div>
              </div>
 
              <div class="form-group row">
               <label class="label-control" for="timesheetinput3">Data Coleta</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="date" id="timesheetinput3" class="form-control" name="date">
                 <div class="form-control-position">
                  <i class="ft-message-square"></i>
                 </div>
                </div>
               </div>
              </div>
 
              <div class="form-group row">
               <label class="label-control" for="timesheetinput5">Hora Coleta</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <input type="time" id="timesheetinput5" class="form-control" name="starttime">
                 <div class="form-control-position">
                  <i class="ft-clock"></i>
                 </div>
                </div>
               </div>
              </div>
 
              <div class="form-group col">
               <label class="label-control" for="timesheetinput7">Informações Adicionais</label>
               <div class="col-md-12">
                <div class="position-relative has-icon-left">
                 <textarea id="timesheetinput7" rows="5" class="form-control" name="notes" placeholder="Observação"></textarea>
                 <div class="form-control-position">
                  <i class="ft-file"></i>
                 </div>
                </div>
               </div>
              </div>
             </div>
 
             <div class="card-content row">
               <div class="card-body">   
                 <p><strong>Turvidez</strong></p>              
                   <fieldset>
                       <div class="float-left">
                           <input type="checkbox" class="switch" id="switch1" checked="checked" />
                       </div>
                   </fieldset>
               </div>  
               <div class="card-body">   
                 <p><strong>Alcalinidade</strong></p>              
                   <fieldset>
                       <div class="float-left">
                           <input type="checkbox" class="switch" id="switch1" checked="checked" />
                       </div>
                   </fieldset>
               </div>           
               <div class="card-body">   
                 <p><strong>Salinidade</strong></p>              
                   <fieldset>
                       <div class="float-left">
                           <input type="checkbox" class="switch" id="switch1" checked="checked" />
                       </div>
                   </fieldset>
               </div>      
               <div class="card-body">   
                 <p><strong>PH</strong></p>              
                   <fieldset>
                       <div class="float-left">
                           <input type="checkbox" class="switch" id="switch1" checked="checked" />
                       </div>
                   </fieldset>
               </div>           
               <div class="card-body">   
                 <p><strong>Residuos</strong></p>              
                   <fieldset>
                       <div class="float-left">
                           <input type="checkbox" class="switch" id="switch1" checked="checked" />
                       </div>
                   </fieldset>
               </div>                            
           </div>
 
           
 
             <div class="form-actions right">
              <button type="button" class="btn btn-warning mr-1">
               <i class="ft-x"></i> Cancelar
              </button>
              <button type="submit" class="btn btn-primary">
               <i class="fa fa-check-square-o"></i> Salvar
              </button>
             </div>
            </form>
 
           </div>
          </div>
         </div>
        </div>
       </div>
 
      </section>
      <!-- // Basic form layout section end -->
     </div>
    </div>
   </div>
   <!-- END: Content-->
 
   <div class="sidenav-overlay"></div>
   <div class="drag-target"></div>